--extensionacl on-declarations
--indent 2
--patternlet inline
--swiftversion 5.7

--enable acronyms
--enable blankLineAfterImports
--enable blankLinesBetweenImports
--enable blockComments
--enable isEmpty
--enable preferDouble
--enable wrapConditionalBodies
